@using MvcStok.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<tblKategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var ktg in Model)
        {
            <tr>
                <th>@ktg.KategoriId</th>
                <td>@ktg.KategoriAdi</td>
                <td><a href="/Kategori/Sil/@ktg.KategoriId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Kategori/KategoriGetir/@ktg.KategoriId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new { sayfa}))

<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>

